@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Ibarra+Real+Nova&family=Nunito+Sans:wght@900&display=swap');

body {
    padding: 0%;
    margin: 0%;
    background-image: url(https://cdn.britannica.com/72/153172-050-EB2F2D95/Titanic.jpg);
    background-color: rgb(100, 145, 183);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Ibarra Real Nova', serif;
    position: absolute;
}

h1,
h2 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h3,
h4 {
    margin: 1.5rem 0.8%;
}

h3 {
    padding-top: 8px;
}

h5 {
    font-size: 1.4rem;
    margin: 0 auto 0.8%;
}

h6 {
    font-size: 1.3rem;
}

header {
    position: fixed;
    width: 100%;
}

main {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border: #1288c2 4px solid;
    box-sizing: border-box;
    border-bottom: 0;
}

p {
    margin: 0.5rem 1.7%;
}

section {
    margin-bottom: 2rem;
    clear: both;
}

nav {
    text-align: center;
    width: 35%;
    margin-left: 2.5%;
    float: right;
    background-color: rgba(234, 244, 251, 0.8);
    border-radius: 20%;
    border: rgb(225, 7, 7) 2px solid;
    box-sizing: border-box;
    position: relative;
    top: 0%;
}

nav a {
    margin-bottom: 20px;
    background-color: yellow;
    text-decoration: none;
    border-radius: 25%;
}

nav a:hover {
    color: red;
    background-color: #fff;
    font-size: 110%;
}

footer {
    background-color: rgba(18, 136, 194, 0.8);
    width: 95%;
    margin: -2.0rem auto auto;
    color: #fff;
    padding-top: 0.5rem;
    border: #1288c2 4px solid;
    box-sizing: border-box;
    border-top: 0;
}

footer a {
    color: #bbc34d;
}

ol {
    padding: 12px;
}

li {
    margin: 0.5rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 86%;
}

iframe {
    height: 100%;
    width: 100%;
}

/* main page hero image */
#ship_bw {
    height: 360px;
    border-bottom: #1288c2 4px solid;
}

/* other images */
#menu,
#astor,
#ballard,
#submarine {
    width: 51%;
    height: 86%;
    margin: 0 -1%;
    box-sizing: border-box;
    display: inline-block;
    border: #1288c2 4px solid;
    border-top: none;
}

#sos,
#lifeboat,
#wreck {
    border-bottom: #1288c2 4px solid;
}

#lifeboat,
#wreck {
    height: 82%;
}

#museum {
    border-top: #1288c2 4px solid;
    border-bottom: #1288c2 4px solid;
    height: 88%;
}

#ship-con {
    height: 86%;
    border: #1288c2 4px solid;
    border-left: 0;
    border-right: 0;
}

#voyage-map {
    object-fit: fill;
    border-bottom: #1288c2 4px solid;
}

#sos {
    border-top: #1288c2 4px solid;
}

/* container div for hero image */
.picture-frame {

    text-align: center;
    border-bottom: #1288c2 4px solid;
    background-color: rgba(255, 165, 0, 0.8);
}

/* divs for containing other images */
.left-frame {

    border-bottom: #1288c2 4px solid;
    border-right: #1288c2 4px solid;
    float: left;
    clear: left;
}

.right-frame {
    border: #1288c2 4px solid;
    border-right: 0;
    float: right;
    clear: right;
    vertical-align: middle;
}

.left-frame,
.right-frame {
    text-align: center;
    width: 40%;
    height: 480px;
    background-color: rgba(255, 165, 0, 0.8);
    box-sizing: border-box;
}

#ballad-box {
    border-top: #1288c2 4px solid;
    font-size: 90%;
}

#menu-astor_box {
    font-size: 80%;
    font-weight: 500;
}

/*styling for half height image containers*/
.half-box01 {
    height: 275px;
    box-sizing: border-box;
}

.half-box02 {
    height: 360px;
    border-top: none;
    box-sizing: border-box;
}

/* positioning of blocks of text */
.right-text {
    width: 60%;
    float: right;
    box-sizing: border-box;
}

.left-text {
    width: 60%;
    float: left;
    box-sizing: border-box;
}

/* styling for a elements linked to footer references */
.reference {
    font-size: 0.6rem;
    vertical-align: super;
    color: green;
}

.reference:hover {
    color: #fff;
    background-color: green;
}

.ref-box {
    width: 45%;
}

.left-ref {
    float: left;
}

.right-ref {
    float: right;
}

.left-list,
.right-list {
    margin-block-start: 0%;
    margin-block-end: 0%;
}

/*hidden element to have footer background color reach the bottom of the page */
#signoff {
    clear: both;
    text-align: center;
    visibility: hidden;
}

/* style for titanic name badge */
.badge {
    background-color: slategrey;
    color: #fff;
    border-radius: 20%;
    border: goldenrod 1px solid;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    padding: 4px;
}

/* google map container */
#google-map {
    border: #1288c2 4px solid;
    border-right: none;
    border-left: none;
    float: right;
    margin: 0;
    box-sizing: border-box;
    width: 60%;
    height: 480px;
}

/* removes borders */
.border-bot0 {
    border-bottom: none;
}

/* resets float attribute to zero */

.float0 {
    float: none;
}

/* Styling for screens smaller than 1200px */

@media screen and (max-width: 1200px) {

    h1 {
        padding-top: 40px;
    }

    .left-frame,
    .right-frame {
        width: 50%;
        height: 580px;
    }

    .half-box01 {
        height: 325px;
    }

    .half-box02 {
        height: 410px;
    }

    .left-text,
    .right-text {
        width: 50%;
    }

    #google-map {
        width: 50%;
        height: 580px;
    }

    .ref-box {
        display: block;
        width: 100%;
        float: left;
    }

    footer {
        text-align: center;
    }

    footer h5 {
        float: left;
        font-size: 1.5em;
    }

    footer h6 {
        text-align: center;
        font-size: 1.2em;
        margin: 1.5rem;
    }

    li {
        padding: 10px;
    }

    #mueseum-text {
        width: 100%;
        text-align: center;
    }

    nav {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {

    .left-frame,
    .right-frame {
        width: 50%;
        height: 780px;
    }

    #google-map {
        height: 780px;
    }

    #sos {
        height: 80%;
    }

    .half-box01 {
        height: 375px;
    }

    .half-box02 {
        height: 460px;
    }

    #ship-con,
    #voyage-map {
        height: 90%;
    }

    #museum {
        height: 92%;
    }

    #menu-astor_box {
        font-size: 100%;
        font-weight: 400;
    }
}

@media screen and (max-width: 850px) {

    .right-frame,
    .left-frame {
        width: 100%;
        height: 320px;
        border-left: none;
        border-right: none;
    }

    .right-text,
    .left-text {
        width: 100%;
    }

    #google-map {
        width: 100%;
        height: 320px;
        float: none;
    }

    #lifeboat {
        height: 88%;
        border-top: #1288c2 4px solid;
    }

    #museum {
        height: 84%;
        border-top: none;
    }

    #menu-astor_box {
        border: none;
        border-top: #1288c2 4px solid;
        height: 440px;
    }

    #menu,
    #astor {
        height: 90%;
    }


    #ship-con {
        height: 86%;
    }

    #wreck {
        height: 86%;
    }
}

@media screen and (max-width: 785px) {
    #ship-con-box {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 710px) {
    nav {
        width: 60%;
    }

    #ship-con {
        height: 82%;
    }
}

@media screen and (max-width: 665px) {
    #lifeboat {
        height: 84%;
    }
}

@media screen and (max-width: 605px) {

    #menu,
    #astor {
        height: 84%;
    }

    nav {
        width: 95%;
        margin-right: 2.5%;
        height: 1.8rem;
        font-size: 1.1rem;
        vertical-align: middle;
    }

    nav .badge {
        padding: 0%;
    }


    #nav-break {
        display: none;
    }

    h1 {
        padding-top: 3.5%;
    }

    h3 {
        padding-top: 1.8rem;
    }

    #wreck {
        height: 84%;
    }
}

@media screen and (max-width: 555px) {
    nav {
        font-size: 1rem;
    }

    .right-frame,
    .left-frame {
        height: 240px;
    }

    .picture-frame {
        height: 280px;

    }

    #ship_bw {
        object-fit: cover;
        height: 90%;
    }

    #ship-con {
        height: 76%;
    }

    #voyage-map {
        height: 88%;
    }

    #sos,
    #lifeboat {
        height: 76%;
    }

    #menu-astor_box {
        height: 300px;
    }

    #menu,
    #astor,
    #ballard,
    #submarine {
        height: 78%;
    }

    #wreck {
        height: 78%;
    }

    #museum {
        height: 80%;
    }
}

@media screen and (max-width: 505px) {
    nav a {
        font-size: 92%;
    }

    nav a:hover {
        font-size: 100%;
    }

    #ship_bw {
        height: 82%;
    }

    #google-map {
        height: 240px;
    }

    #sos {
        height: 70%;
    }
}

@media screen and (max-width: 475px) {

    #ballard,
    #submarine,
    #wreck {
        height: 70%;
    }

    nav a {
        font-size: 85%;
    }

    nav a:hover {
        font-size: 90%;
    }
}

/* styling for screens wider than 1600 px*/

@media screen and (min-width: 1600px) {
    h1, h2,
    main,
    footer {
        width: 1495px;
        margin-left: 5.0%;
    }
}

@media screen and (min-width: 1700px) {
    h1, h2,
    main,
    footer {
        margin-left: 7.5%;
    }
}

@media screen and (min-width: 1850px) {
    h1, h2,
    main,
    footer {
        margin-left: 10.0%;
    }
}

@media screen and (min-width: 1975px) {
    h1, h2,
    main,
    footer {
        margin-left: 12.5%;
    }
}

@media screen and (min-width: 2075px) {
    h1, h2,
    main,
    footer {
        margin-left: 15.0%;
    }
}

@media screen and (min-width: 2200px) {
    h1, h2,
    main,
    footer {
        margin-left: 17.5%;
    }
}

@media screen and (min-width: 2300px) {
    h1, h2,
    main,
    footer {
        margin-left: 20.0%;
    }
}