body {
    padding: 0%;
    margin: 0%;
    color: #22e;
    background-image: url(https://cdn.britannica.com/72/153172-050-EB2F2D95/Titanic.jpg);
    background-color: rgba(86, 124, 158, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1,
h2 {
    text-align: center;
}

h3,h4 {
    margin: 0.5rem 0.8%;
}

h5 {
    font-size: 1.4rem;
    margin: 0 auto 0.8%;
}

main {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

p {
    margin: 0.5rem 1.7%;
}

h4 > p ~ p{
    margin: 0;
}
nav {
    background-color: #1288c2;
    text-align: center;
    width: 95%;
    margin: auto;
}

nav a {
    margin: 0 1%;
    background-color: yellow;
    text-decoration: none;
}

nav a:hover {
    color: red;
    background-color: #fff;
}

footer {
    background-color: rgba(18, 136, 194, 0.8);
    min-height: 100px;
    width: 95%;
    margin: -0.5rem auto auto;
    color: #fff;
    padding-top: 0.5rem;
}

footer a {
    color: #bbc34d;
}

#ship_bw {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-bottom: #1288c2 4px solid;
}

.picture-frame {
    text-align: center;
    width: 100%;
    border: #1288c2 4px solid;
    box-sizing: border-box;
    background-color: rgba(255, 165, 0, 0.8);
    margin: 0%;
}

.reference {
    font-size: 0.6rem;
    vertical-align: super;
    color: green;
}

.reference:hover {
    color: #fff;
    background-color: green;
}
